# DAT210x - Programming with Python for DS

## Module2 - Lab3

In [14]:
# Import and alias Pandas
import pandas as pd

Often, you will want to load a dataset that is missing explicit header labels. You won't know if your data lacks headers or not unless you load it up and examine the headers to see if they make sense. Pandas by default reads in the first row of data as the header. If that isn't the case for your specific data set, you will lose your first data row. Be careful!

Load up the `Servo.data` dataset. Examine the headers, and adjust them as necessary, if need be.

In [15]:
# .. your code here ..
df = pd.read_csv('/Users/constar/Documents/GitHub/Online_courses/DAT210x-master/Module2/Datasets/servo.data', header=None)
df.head()

   0  1  2  3         4
0  E  E  5  4  0.281251
1  B  D  6  5  0.506252
2  D  D  4  3  0.356251
3  B  A  3  2  5.500033
4  D  B  6  5  0.356251

In [16]:
my_columns = ['motor', 'screw', 'pgain', 'vgain', 'class']
df.columns = columns
df.head()

  motor screw  pgain  vgain     class
0     E     E      5      4  0.281251
1     B     D      6      5  0.506252
2     D     D      4      3  0.356251
3     B     A      3      2  5.500033
4     D     B      6      5  0.356251

Let's try experimenting with some slicing. Create a slice that contains all entries that have a vgain equal to 5. Then print the length of (# of samples in) that slice:

In [23]:
# .. your code here ..
vgain_5 = df.loc[(df["vgain"] == 5)]
vgain_5.head()
#foo = df.ix[(df['column1']==value)

   motor screw  pgain  vgain     class
1      B     D      6      5  0.506252
4      D     B      6      5  0.356251
8      C     A      6      5  0.768754
10     B     E      6      5  0.468752
22     B     C      6      5  0.468752

In [24]:
len(vgain_5)

22

Create a slice that contains all entries having a motor equal to E and screw equal to E. Then print the length of (# of samples in) that slice:

In [27]:
# .. your code here ..
screwed = df.loc[(df["motor"]== "E") & (df['screw'] == "E")]
screwed.head()

#foo = df.ix[(df['column1']==value) | (df['columns2'] == 'b') | (df['column3'] == 'c')]

    motor screw  pgain  vgain     class
0       E     E      5      4  0.281251
35      E     E      3      2  1.100000
86      E     E      4      3  0.843755
132     E     E      6      5  0.281251
140     E     E      4      2  0.506252

In [28]:
len(screwed)

6

Create a slice that contains all entries having a pgain equal to 4. Use one of the various methods of finding the mean vgain value for the samples in that slice. Once you've found it, print it:

In [29]:
# .. your code here ..
pgain_4 = df.loc[(df['pgain'] == 4)]
pgain_4.head()

   motor screw  pgain  vgain     class
2      D     D      4      3  0.356251
5      E     C      4      3  0.806255
9      D     A      4      1  1.031254
12     B     C      4      1  0.281251
19     C     E      4      2  0.206250

In [33]:
pgain_4['vgain'].mean()

#df["weight"].mean()

2.0606060606060606

Here's a bonus activity for you. See what happens when you display the `.dtypes` property of your dataframe!

In [35]:
# .. your code here ..
df.dtypes

motor     object
screw     object
pgain      int64
vgain      int64
class    float64
dtype: object